<div class="container">

  <header> </header>
  <navbar></navbar>
  
<content>
  <h1 class="titleContent">{{ $ctrl.title }}</h1>
  <p class="titleContent">New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers.</p>
  <p class="titleContent">Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.</p>
  <img class="imgContent" src="assets/images/newyork.jpg">
</content>

  <footer></footer>

</div>

