.navbar {
  position:fixed !important;
  height: 100%;
  margin: 0;
  border-radius: 0;
}

nav {
    float: left;
    max-width: 100px;
    margin: 0;
    padding: 1em;
    max-block-size: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
    font-size:18px;
}