<div class="container">

  <header> </header>
  
  <navbar></navbar>
  
<content>
  <h1 class="titleContent">{{ $ctrl.title }}</h1>
  <p class="titleContent">Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens. </p>
  <p class="titleContent">The city's many museums offer exhibits ranging from classical art (in the Tokyo National Museum) to a reconstructed kabuki theater (in the Edo-Tokyo Museum).</p>
  <img class="imgContent" src="assets/images/tokyo.jpg">
</content>

  <footer></footer>

</div>